body{
    font-family: Roboto, Arial;
    margin-right: 0;
    
  }
#logo {
    float: left;
    margin-right: -0.5cm;
    position: fixed;
}

#home {
    background-color: #1d0065;
    margin-left: 6.35cm;
    margin-right: 0;
    margin-top: -1cm;
    padding-top: 1cm;
    padding-bottom: 2cm;
    position: static;
}

.topdiv {
    float: right;
    padding-right: 1cm;
}

/* Navigation Bar Buttons */
.topmenu {
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

.donatemenu {
    color: #1d0065;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

.topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

.donatemenu:hover {
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
}

#vizpage-display{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    justify-content: space-between;
}

.fields-pane {
    height: 500px; /* fixed height */
    overflow-y: auto; /* add vertical scrollbar */
    padding: 10px; /* add some padding */
    border: 1px solid #ddd; /* add a border */
  }
  
  .data-pane {
    padding: 10px; /* add some padding */
  }
  
  .data-pane ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .data-pane li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .data-pane input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .data-pane label {
    flex: 1; /* take up the remaining space */
  }
.field-type{
    margin-bottom: 0;
    left: 5px;
}
.field-type input, h5{
    left: 5px;
}

/* .fields-pane::before {
    content: "Once you upload your data the fields will show up here";
    color: #ccc; /* gray color to indicate it's a placeholder 
  } */
/* .datapane-text{
    text-align: center;
    padding-top: 170px;
    padding-left: 40px;
    font-family: arial;
    padding-right: 40px;
    
} */
.viz-canva{
    background-color:rgba(238, 238, 244, 0.947);
    color: rgb(16, 16, 16);
    font-weight: 10px;
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 100px;
    width: 1200px;
    display: flex;
    height: 500px;
    
}
.canva-text{
    text-align: center;
    padding-top: 210px;
    padding-left: 170px;
    font-family: arial;
}


.chartarea-text{
    text-align: center;
    padding-top: 0px;
    font-family: arial;
    color: black;
    
}


